.contCarte{
    padding: 0;
    color: #FFCB00;
    overflow: hidden;
}
.carte{
    margin: 50px 0px;
    padding: 0 50px; 
    transition: 1s;
}
.carte2{
    margin: 50px 0px;
    padding: 0 50px; 
    transition: 1s;
}
.bgCartes{
    background-color: #2B230D;
    color: #FFCB00;
    width: 80%;
}
.btnCartes{
    background-color: #2B230D;
    color: #FFCB00;
    width: 80%;
    border: transparent;
    border-radius: 4px;
    width: 140px;
    padding: 3px;
    margin: 0;
}
.btnCartes:hover{
    border: none;
    background-color: #1A131B;
    color: #FFCB00;
}
.btnCartes:focus{
    outline: none;
    background-color: #1A131B;
}
.carteLeft{
    transform: translateX(-200%);
} 
.carteRight{
    transform: translateX(200%);
}
.carteTransform{
    transform: translateX(0%);
}
.cardImages img{
    display: none;
}
img.active{
    display: block;
}
.left{
    color: #FFCB00;
    font-size: 5em;
    position: absolute;
    top: 30%;
    z-index: 10;
}
.right{
    color: #FFCB00;
    font-size: 5em;
    position: absolute;
    top: 30%;
    left: 66%;
    z-index: 10;
}
.prix{
    position: absolute;
    color: #FFCB00;
    background-color: #1A131B;
    border: solid 2px #FFCB00;
    border-radius: 3px;
    padding: 2px 10px;
    top: 61%;
    left: 3%;
}
.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.compteur{
    font-size: 1.2em;
    margin-right: 10%;
    display: flex;
}
/* chrome safari edge opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
/* firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.champQuantite{
    background-color: #2B230D;
    border: solid #1A131B 2px;
    border-radius: 4px;
    color: #FFCB00;
}
.removeMinus{
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #FFCB00;
}
.addPlus{
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #FFCB00;
}