.panneaux{
    display: flex;
    height: 90vh;
    border: solid 1px#FFCB00;
    border-top: none;
    padding: 0;
}
.panneau{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    transition:  flex 1s;
    overflow: hidden;
}
.panneau1{
    background-image: url(../img/bg1.jpg);
}
.panneau2{
    background-image: url(../img/bg2.jpg);
}
.panneau3{
    background-image: url(../img/bg3.jpg);
}
.panneau4{
    background-image: url(../img/bg4.jpg);
}
.portrait{
    width: 150px;
    height: 150px;
    border: solid 1px #003681;
    border-radius: 50%;
    background-color:#000056;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.photo{
    object-fit: cover;
    height: 100%;
}
.panneau div{
    font-family: 'Uncial Antiqua', cursive;    
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    text-shadow: 0px 1px 4px black;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.togglePanneau{
    flex: 4;
}

.transiNom{
    transform: translateY(-1200%);
    font-size: 0em;
}
.transiBio{
    transform: translateX(-400%);
    font-size: 0em;
}
.transiPara{
    transform: translateY(400%);
    font-size: 0em;
}
.toggleDescription{
    transform: translate(0,0);
    font-size: 1em;
    transition: transform 1s;
    padding: 15px;
}
